@{
    ViewData["Title"] = "EditPage";
}

@model ToDoList

<h1>Edit page</h1>

    <form method="post" asp-action="UpdateItem" asp-controller="Home" asp-route-userId="@User.Claims.FirstOrDefault().Value" class="editPanel">
        <div class="editPanel">
            <div class="namePanel">
                <label asp-for="@Model.Name">Name: </label>
                <input type="text" value="@Model.Name" class="nameField" asp-for="@Model.Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="donePanel">
                <label asp-for="@Model.IsDone">Done: </label>
                <input type="checkbox" placeholder="@Model.Name" class="isDoneField" asp-for="@Model.IsDone"/>
            </div>
            <div class="createDatePanel">
                <label asp-for="@Model.CreateDate">Create Date: </label>
                <input type="date" max="@Model.DueDate" value="@Model.CreateDate.ToString("yyyy-MM-dd")" required class="createDateField" asp-for="@Model.CreateDate"/>
            </div>
            <div class="finishDatePanel">
                <label asp-for="@Model.DueDate">Finish Date: </label>
                <input type="date" min="@Model.CreateDate.ToString("yyyy-MM-dd")" value="@Model.DueDate.ToString("yyyy-MM-dd")" required class="finishDateField" asp-for="@Model.DueDate"/>
            </div>
            <div class="descriptionPanel">
                <label asp-for="@Model.Description">Description: </label>
                <input type="text" value="@Model.Description" class="descriptionField" asp-for="@Model.Description"/>
            </div>
            <input type="hidden"  value="@Model.Id" asp-for="@Model.Id"/>
            <input type="hidden" asp-for="@Model.UserId" value="@User.Claims.FirstOrDefault().Value"/>
        </div>

        <button type="submit" class="editButton">Edit</button>
    </form>

